@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Bug Tracker By Splatter</h3>

<address>
    <p>1231 Shields Road Suite 5</p>
    <p>Kernersville, NC 27284</p>
    <p>Phone: 336.231.8632<p>
    Email: info@splatter-coderfoundry.com
   </address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@splatter-coderfoundry.com">Support@splatter-coderfoundry.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@splatter-coderfoundry.com">Marketing@splatter-coderfoundery.com</a>
</address>