@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BugTracker</h1>
    <img src=" ~/splatter.jpg" alt="/Splatter View" style="width:650px">
  
     <p class="lead">by Splatter</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
   
   
</div>


